.perfil {
  text-align: center;
  margin: 30px;
}

.perfil img {
  border-radius: 50%;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  background: #f1f5f9;
  padding: 15px;
}
